@import url(/bootstrap/css/bootstrap.css);

$background-color: #F6F8FA;
$primary: #0074d9;
html{
  scroll-behavior: smooth;
}

//global
body{
  background-color: $background-color;
}

.img-avatar{
  height: 36px;
  width: 36px;
  border-radius: 50%;
}

.card{
  border-radius: 8px;
}

.btn{
  border-radius: 4px;
}

.cursor-pointer{
  cursor: pointer;
}

.badge{
  &.text-bg-purple{
    background-color: #EAE6FF;
    color: #403294;
  }
}


//header
.header{
  background: #FFFFFF;
box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.18);

.header-avatar{
  &::after{
    display: none;
  }
}
}

.navbar{
  .navbar-nav{
    .nav-item{
      .nav-link{
        &.active{
          color: #0065FF;
        }
        &:hover{
          color: #0065FF;

        }
      }
    }
  }
}


//home
.ticket-card{
  display: flex;
  flex-direction: column;
  padding: 12px;
  border: 1px solid #DFE1E6;
  border-radius: 4px;

  .ticket-status{
    gap: 8px;
  }
}

.activity-card{
  margin-bottom: 16px;
  padding-bottom: 8px;
  --bs-border-color: #DFE1E6;
}



//laporan
.laporanType{
  border-radius: 16px;
  background-color: #fff;
  border: 1px solid #DFE1E6;
  width: 170px;
  height: 200px;
  padding: 16px;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  color: black;
  cursor: pointer;

  &[aria-checked="true"]{
    .indicator{
      background-color: #00875A;
      border: 0;
    }
    background-color: #343B4A;
    color: white;
  }

  .indicator{
    margin-left: auto;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    border: 1px solid #DFE1E6;
  }

  .icon{
    margin: 16px auto auto auto;
    height: 72px;
    width: 72px;
    background-color: blueviolet;
  }
  
  &:hover{
    background-color: #343B4A;
    color: white;

  }
}


.employee-preview{
  background: #F4F5F7;
  border: 1px dashed #DFE1E6;
  border-radius: 4px;
  width: 100%;
  min-height: 100px;

  img{
    height: auto;
    width: 100px;
    object-fit: cover;
  }

  &.active{
    background: #F4F9FF;
    border: 1px dashed #4C9AFF;
    border-radius: 4px;
  }
}

.pelanggaran-preview{
  padding: 16px;
  background:#FFEBE6;
  border: 1px dashed #FF8F73;
  border-radius: 4px;
}

.stepper{
  ol {
    counter-reset: item;
    margin-left: 2rem;
    padding-left: 0;
  }
  li {
    display: block;
    margin-bottom: 24px;
    margin-left: 2em;

    &::before{
      display: inline-block;
      content: counter(item);
      counter-increment: item;
      width: 24px;
      height: 24px;
      padding-left: 7px;
      margin-right: 8px;
      background: #DEEBFF;
      color: #4C9AFF;
      border-radius: 4px;
      margin-left: -3em;
    }

    &.active{
      &::before{
        background: #2684FF;
        color: #fff;
      }
    } 

    &.done{
      
      &::before{
        font-family: "Font Awesome 6 Free";
        font-weight: 400;
        content:"\2713\0020";
        background: #2684FF;
        color: #fff;
      }
    } 
  }
 
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: 'Select some files';
  display: inline-block;
  color: #0065FF;
  background: linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #0065FF;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-size: 10pt;
}
.custom-file-input:hover::before {
  border-color: #0065FF;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}


.inputWrapper {
  height: 32px;
  width: 64px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  /*Using a background color, but you can use a background image to represent a button*/
  background-color: #DDF;
}
.fileInput {
  cursor: pointer;
  height: 100%;
  position:absolute;
  top: 0;
  right: 0;
  z-index: 99;
  /*This makes the button huge. If you want a bigger button, increase the font size*/
  font-size:50px;
  /*Opacity settings for all browsers*/
  opacity: 0;
  -moz-opacity: 0;
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0)
}

.videoLinkInputAction{
  display: flex;
  flex-direction: row;
  align-items: center;

  opacity: .5;
  i{
    cursor: pointer;
    margin-right: 8px;
    &.add:hover{
      color: rgb(19, 187, 19);
    }
    &.minus:hover{
      color: rgb(243, 42, 42);
    }
  }
}

.laporanTimeline{
  border: 1px dashed #DFE1E6;
  border-radius: 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  overflow: auto;
  padding: 16px;

  .arrow{
    font-size: 24px;
    color: #B3BAC5;
  }
  .item{
    display: flex;
    flex-direction: row;
    padding: 6px;
    border-radius: 8px;
    border: 1px solid #DFE1E6;
    min-width: 200px;


    &.active{
      border: 1px solid #57D9A3;
      i{
        color: #00875A;
      }

      +.arrow{
        color: #57D9A3;
      }
    }
  }

}

.table-nav{
  .nav{
    .nav-item{
      .nav-link{
        margin-right: 20px;
        padding: 0;
        color: #5E6C84;
        &.active{
          color: #0065FF;
        }
      }
    }
  }
}


// // display: flex;
// // flex-direction: column;
// // align-items: center;
// color: black;
// cursor: pointer;

input[type="radio"] {
  border: 1px solid #DFE1E6;
  display: none;
  &:not(:disabled) ~ label {
    cursor: pointer;
  }
  &:disabled ~ label {
    color: hsla(150, 5%, 75%, 1);
    border-color: hsla(150, 5%, 75%, 1);
    box-shadow: none;
    cursor: not-allowed;
  }
  label {
    text-align: center;
  
    height: 100%;
    border-radius: 16px;
    background-color: #fff;
    border: 1px solid #DFE1E6;
    width: 170px;
    height: 200px;
    padding: 16px;
    display: block;
    background: white;
    border-radius: 20px;
    padding: 1rem;
    border: 1px solid #DFE1E6;
    margin-bottom: 1rem;
    //margin: 1rem;
    text-align: center;
    position: relative;
    .icon{
      display: flex;
      margin: auto;
      justify-content: center;
      align-items: center;
      height: 92px;
      width: 92px;
      border-radius: 50%;
      background-color: #F8F8F8;
      img{
        height: 60px;
        width: 60px;
      }
    }
  }
}


input[type="radio"]:checked + label {
  background: #343B4A;
  color: hsla(215, 0%, 100%, 1);
  .icon{
    
    background-color: #fff;
   
   
  }
  // &::after {
  //   color: hsla(215, 5%, 25%, 1);
  //   font-family: FontAwesome;
  //   content: "\f00c";
  //   font-size: 24px;
  //   position: absolute;
  //   top: -25px;
  //   left: 50%;
  //   transform: translateX(-50%);
  //   height: 50px;
  //   width: 50px;
  //   line-height: 50px;
  //   text-align: center;
  //   border-radius: 50%;
  //   background: white;

  // }
}
input[type="radio"]#control_05:checked + label {
  background: red;
  border-color: red;
}
p {
  font-weight: 900;
}