@charset "UTF-8";
@import url(/bootstrap/css/bootstrap.css);
body {
  background-color: #F6F8FA;
}

.img-avatar {
  height: 36px;
  width: 36px;
  border-radius: 50%;
}

.card {
  border-radius: 8px;
}

.btn {
  border-radius: 4px;
}

.cursor-pointer {
  cursor: pointer;
}

.header {
  background: #FFFFFF;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.18);
}
.header .header-avatar::after {
  display: none;
}

.navbar .navbar-nav .nav-item .nav-link.active {
  color: #0065FF;
}
.navbar .navbar-nav .nav-item .nav-link:hover {
  color: #0065FF;
}

.ticket-card {
  display: flex;
  flex-direction: column;
  padding: 12px;
  border: 1px solid #DFE1E6;
  border-radius: 4px;
}
.ticket-card .ticket-status {
  gap: 8px;
}

.activity-card {
  margin-bottom: 16px;
  padding-bottom: 8px;
  --bs-border-color: #DFE1E6;
}

.employee-preview {
  background: #F4F5F7;
  border: 1px dashed #DFE1E6;
  border-radius: 4px;
  width: 100%;
  min-height: 100px;
}
.employee-preview img {
  height: auto;
  width: 100px;
  object-fit: cover;
}
.employee-preview.active {
  background: #F4F9FF;
  border: 1px dashed #4C9AFF;
  border-radius: 4px;
}

.pelanggaran-preview {
  padding: 16px;
  background: #FFEBE6;
  border: 1px dashed #FF8F73;
  border-radius: 4px;
}

.stepper ol {
  counter-reset: item;
  margin-left: 2rem;
  padding-left: 0;
}
.stepper li {
  display: block;
  margin-bottom: 24px;
  margin-left: 2em;
}
.stepper li::before {
  display: inline-block;
  content: counter(item);
  counter-increment: item;
  width: 24px;
  height: 24px;
  padding-left: 7px;
  margin-right: 8px;
  background: #DEEBFF;
  color: #4C9AFF;
  border-radius: 4px;
  margin-left: -3em;
}
.stepper li.active::before {
  background: #2684FF;
  color: #fff;
}
.stepper li.done::before {
  font-family: "Font Awesome 6 Free";
  font-weight: 400;
  content: "✓ ";
  background: #2684FF;
  color: #fff;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}

.custom-file-input::before {
  content: "Select some files";
  display: inline-block;
  color: #0065FF;
  background: linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #0065FF;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-size: 10pt;
}

.custom-file-input:hover::before {
  border-color: #0065FF;
}

.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.inputWrapper {
  height: 32px;
  width: 64px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  /*Using a background color, but you can use a background image to represent a button*/
  background-color: #DDF;
}

.fileInput {
  cursor: pointer;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 99;
  /*This makes the button huge. If you want a bigger button, increase the font size*/
  font-size: 50px;
  /*Opacity settings for all browsers*/
  opacity: 0;
  -moz-opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}

/*# sourceMappingURL=main.css.map */
